body {
   margin: 1.2rem;
   background: #c2c0c0;
   font-family: 'JetBrains Mono';
   color: #0D0D0D;
}

header {
   text-align: center;
}

section {
   background: #fff;
   width: min(90vh, 600px);
   border: 1.2px solid #161616;

   border-radius:0.5rem;

   padding: 15px;
   width: 30rem;
   margin: auto;
   
   
}

#dice {

}




#age::placeholder {
   color: rgb(81, 85, 85);
}

footer {
   text-align: center;
   font-weight: 300;
   font-style: italic;
   font-size: 0.8rem;
}